<h1>投稿フォーム</h1>
  <%= form_with model: @book do |f| %>
    
    <div>
   <label>Title</label>
 <%= f.text_field :title %>
  </div>

  <div>
   <label>Body</label>
 <%= f.text_area :body %>
  </div>

  <div>
   <label><%= f.submit'Create Book' %></label>
  </div>
  <% end %>